In [64]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [84]:
# Take in all of employment and unemployment data and read it into pandas
phoenix_employment = "Resources/phoenix_employment.csv"
phoenix_unemployment = "Resources/phoenix_unemployment.csv"

phoenix_em_df = pd.read_csv(phoenix_employment, index_col=0)
phoenix_un_df = pd.read_csv(phoenix_unemployment, index_col=0)

phoenix_em_df 
phoenix_un_df

,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
Year,,,,,,,,,,,,
1999,1578066,1584222,1585224,1580055,1588296,1596756,1604886,1595958,1600052.0,1604937.0,1614940.0,1622822.0
2000,1593471,1602769,1599895,1607478,1598814,1610811,1605966,1606272,1620675.0,1627557.0,1633557.0,1647067.0
2001,1636850,1648610,1651014,1649485,1647023,1650118,1654691,1642867,1659968.0,1668426.0,1667790.0,1673006.0
2002,1654868,1675135,1675100,1678397,1680127,1688556,1689100,1694967,1707218.0,1708424.0,1710633.0,1709692.0
2003,1697363,1710594,1712821,1724357,1725624,1736581,1729695,1729691,1736622.0,1749473.0,1762317.0,1765233.0
2004,1753874,1762375,1762380,1769489,1772710,1783492,1796584,1790883,1796539.0,1812156.0,1821557.0,1824292.0
2005,1814437,1822286,1827021,1844704,1849858,1860494,1870868,1875603,1882879.0,1898907.0,1905650.0,1909234.0
2006,1901250,1913561,1922139,1928931,1936819,1946039,1953536,1958179,1966730.0,1984257.0,1988557.0,1993927.0
2007,1975145,1978324,1983747,1977695,1980485,1990231,1989870,1986239,1996647.0,1997239.0,2006408.0,1999262.0
2008,1993471,1991054,1988239,1989849,1979651,1978204,1965921,1966181,1971910.0,1978295.0,1973787.0,1958144.0
2009,1929842,1928190,1918768,1923204,1908015,1903307,1893012,1878273,1875567.0,1875513.0,1883069.0,1866026.0
2010,1869615,1874869,1878510,1892588,1880880,1873990,1863136,1863279,1870834.0,1873228.0,1873822.0,1873316.0
2011,1861415,1865691,1873061,1874253,1868695,1855523,1847043,1850762,1864723.0,1876642.0,1885736.0,1887097.0
2012,1874555,1885876,1891035,1891991,1890486,1886259,1878124,1880089,1903003.0,1913210.0,1913745.0,1914778.0
2013,1901053,1911346,1912337,1916742,1916595,1912777,1904422,1906027,1924789.0,1919452.0,1944685.0,1946512.0
2014,1953341,1964689,1982414,1980626,1978109,1981287,1975893,1982457,2003395.0,2021500.0,2035751.0,2033919.0
2015,2034569,2045728,2050610,2056049,2060911,2057488,2058016,2062225,2073948.0,2087268.0,2101642.0,2101329.0
2016,2105712,2123264,2131239,2124317,2127634,2126152,2132749,2137298,2154421.0,2162529.0,2180458.0,2172226.0
2017,2174954,2193379,2203637,2208570,2202374,2208812,2215506,2215958,2244514.0,2240720.0,2259862.0,2252445.0
2018,2254317,2282747,2288154,2286777,2291580,2292952,2306538,2297320,2327702.0,2338006.0,2357448.0,2354244.0
2019,2347408,2366730,2361436,2359228,2365751,2391380,2392982,2389376,NaN,NaN,NaN,NaN

In [85]:
# Covert the employment data to the same format with unemployment data, then add two dataframe together.

df_em=phoenix_em_df.multiply(1000)

df_emtotal=df_em.add(phoenix_un_df)

# Use empployment data divide the total population in the job market to get the rate of employment.

df_emrate=df_em.divide(df_emtotal)

df_emrate

,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
Year,,,,,,,,,,,,
1999,0.483763,0.486712,0.488179,0.490626,0.489310,0.486583,0.483758,0.486559,0.489869,0.491100,0.491860,0.492697
2000,0.490427,0.492822,0.495221,0.494484,0.497452,0.492564,0.490213,0.493317,0.495506,0.496059,0.497283,0.497549
2001,0.491353,0.493438,0.494765,0.494114,0.493866,0.490518,0.486199,0.490768,0.490490,0.489688,0.490080,0.489891
2002,0.486396,0.485735,0.487533,0.489056,0.488176,0.485095,0.480676,0.483504,0.483540,0.485124,0.488483,0.488498
2003,0.483450,0.484511,0.485488,0.484814,0.484954,0.480545,0.478032,0.482251,0.483198,0.484535,0.484841,0.486094
2004,0.481421,0.483534,0.485674,0.486835,0.486708,0.483000,0.479716,0.483610,0.485710,0.487941,0.488923,0.490833
2005,0.486132,0.489124,0.490729,0.491790,0.491386,0.487608,0.485271,0.488323,0.491331,0.490378,0.492591,0.493791
2006,0.490643,0.493427,0.494618,0.494254,0.494306,0.490504,0.487293,0.490041,0.491739,0.490479,0.491802,0.492100
2007,0.488297,0.491371,0.492355,0.492234,0.492546,0.488653,0.486481,0.490778,0.490956,0.492125,0.492448,0.493468
2008,0.488115,0.489977,0.489926,0.488556,0.488958,0.483956,0.481044,0.485210,0.485129,0.483595,0.483773,0.484067
2009,0.479384,0.478951,0.479129,0.476580,0.476814,0.470952,0.468883,0.472702,0.474847,0.475998,0.476775,0.479073
2010,0.472801,0.473967,0.474970,0.473841,0.476002,0.470443,0.469288,0.472664,0.473366,0.476624,0.479034,0.479868
2011,0.476294,0.477923,0.478439,0.479555,0.479863,0.475177,0.474128,0.479079,0.480510,0.480894,0.482529,0.482845
2012,0.480165,0.480758,0.481899,0.481943,0.481801,0.477947,0.476120,0.481639,0.481697,0.482792,0.485987,0.486927
2013,0.483431,0.484610,0.485812,0.486010,0.485795,0.481531,0.480478,0.485432,0.485542,0.489161,0.489515,0.489936
2014,0.483358,0.483899,0.482630,0.483570,0.482321,0.477769,0.476181,0.480986,0.480824,0.482304,0.483777,0.485412
2015,0.480071,0.481126,0.481227,0.481679,0.480226,0.476225,0.475386,0.479529,0.481052,0.483805,0.485301,0.485716
2016,0.480150,0.480758,0.480697,0.482671,0.480917,0.476079,0.475280,0.479469,0.480765,0.482144,0.482563,0.483912
2017,0.478997,0.479376,0.479210,0.480174,0.479464,0.475642,0.473014,0.477880,0.477548,0.480957,0.481869,0.483081
2018,0.478628,0.478342,0.478704,0.478866,0.477533,0.473460,0.471394,0.477896,0.476945,0.478485,0.479218,0.479581
2019,0.476318,0.476634,0.477736,0.478708,0.477176,0.470685,0.469486,0.474837,NaN,NaN,NaN,NaN

In [ ]:
employe_rate, = plt.plot(Year, df_emrate.loc['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', ])